node_modules/
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

public/uploads/*
!public/uploads/buttons/
!public/uploads/catalog/
!public/uploads/defaults/
!public/uploads/sliders/
public/uploads/buttons/*
public/uploads/catalog/*
public/uploads/defaults/*
public/uploads/sliders/*
!public/uploads/buttons/tasto_*.png
!public/uploads/catalog/boxe.jpg
!public/uploads/catalog/giocoleria.jpg
!public/uploads/defaults/default_user.png
!public/uploads/defaults/default_corso.png
!public/uploads/defaults/default_gara.png
!public/uploads/sliders/*.jpg

*.log
*.docx
database/backups/*.json
.DS_Store
Thumbs.db
